.header {
  .elementor-1566 .elementor-element.elementor-element-700391b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-block-start: 0em;
    --padding-block-end: 0em;
    --padding-inline-start: 1em;
    --padding-inline-end: 1em;
  }
  .elementor-1566
    .elementor-element.elementor-element-700391b:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-1566
    .elementor-element.elementor-element-700391b
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-dc9267a);
  }
  .elementor-1566 .elementor-element.elementor-element-700391b,
  .elementor-1566 .elementor-element.elementor-element-700391b::before {
    --border-transition: 0.3s;
  }
  .elementor-1566 .elementor-element.elementor-element-58414ba {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: flex-start;
    --background-transition: 0.3s;
  }
  .elementor-1566
    .elementor-element.elementor-element-7b27b26.elementor-view-stacked
    .elementor-icon {
    background-color: var(--e-global-color-secondary);
  }
  .elementor-1566
    .elementor-element.elementor-element-7b27b26.elementor-view-framed
    .elementor-icon,
  .elementor-1566
    .elementor-element.elementor-element-7b27b26.elementor-view-default
    .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
  }
  .elementor-1566 .elementor-element.elementor-element-7b27b26 {
    --icon-box-icon-margin: 15px;
    width: 100%;
    max-width: 100%;
  }
  .elementor-1566 .elementor-element.elementor-element-7b27b26 .elementor-icon {
    font-size: 25px;
  }
  .elementor-1566
    .elementor-element.elementor-element-7b27b26
    .elementor-icon-box-title {
    margin-bottom: 2px;
    color: var(--e-global-color-35dff28);
  }
  .elementor-1566
    .elementor-element.elementor-element-7b27b26
    .elementor-icon-box-title,
  .elementor-1566
    .elementor-element.elementor-element-7b27b26
    .elementor-icon-box-title
    a {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-1566
    .elementor-element.elementor-element-7b27b26
    .elementor-icon-box-description {
    color: var(--e-global-color-35dff28);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    text-transform: var(--e-global-typography-text-text-transform);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-1566
    .elementor-element.elementor-element-7b27b26.elementor-element {
    --align-self: center;
  }
  .elementor-1566
    .elementor-element.elementor-element-7be88d3.elementor-view-stacked
    .elementor-icon {
    background-color: var(--e-global-color-secondary);
  }
  .elementor-1566
    .elementor-element.elementor-element-7be88d3.elementor-view-framed
    .elementor-icon,
  .elementor-1566
    .elementor-element.elementor-element-7be88d3.elementor-view-default
    .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
  }
  .elementor-1566 .elementor-element.elementor-element-7be88d3 {
    --icon-box-icon-margin: 15px;
    width: 100%;
    max-width: 100%;
  }
  .elementor-1566 .elementor-element.elementor-element-7be88d3 .elementor-icon {
    font-size: 25px;
  }
  .elementor-1566
    .elementor-element.elementor-element-7be88d3
    .elementor-icon-box-title {
    margin-bottom: 2px;
    color: var(--e-global-color-35dff28);
  }
  .elementor-1566
    .elementor-element.elementor-element-7be88d3
    .elementor-icon-box-title,
  .elementor-1566
    .elementor-element.elementor-element-7be88d3
    .elementor-icon-box-title
    a {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-1566
    .elementor-element.elementor-element-7be88d3
    .elementor-icon-box-description {
    color: var(--e-global-color-35dff28);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    text-transform: var(--e-global-typography-text-text-transform);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-1566
    .elementor-element.elementor-element-7be88d3.elementor-element {
    --align-self: center;
  }
  .elementor-1566
    .elementor-element.elementor-element-ef77bc6.elementor-view-stacked
    .elementor-icon {
    background-color: var(--e-global-color-secondary);
  }
  .elementor-1566
    .elementor-element.elementor-element-ef77bc6.elementor-view-framed
    .elementor-icon,
  .elementor-1566
    .elementor-element.elementor-element-ef77bc6.elementor-view-default
    .elementor-icon {
    fill: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
  }
  .elementor-1566 .elementor-element.elementor-element-ef77bc6 {
    --icon-box-icon-margin: 15px;
    width: 100%;
    max-width: 100%;
  }
  .elementor-1566 .elementor-element.elementor-element-ef77bc6 .elementor-icon {
    font-size: 25px;
  }
  .elementor-1566
    .elementor-element.elementor-element-ef77bc6
    .elementor-icon-box-title {
    margin-bottom: 2px;
    color: var(--e-global-color-35dff28);
  }
  .elementor-1566
    .elementor-element.elementor-element-ef77bc6
    .elementor-icon-box-title,
  .elementor-1566
    .elementor-element.elementor-element-ef77bc6
    .elementor-icon-box-title
    a {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-1566
    .elementor-element.elementor-element-ef77bc6
    .elementor-icon-box-description {
    color: var(--e-global-color-35dff28);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    text-transform: var(--e-global-typography-text-text-transform);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-1566
    .elementor-element.elementor-element-ef77bc6.elementor-element {
    --align-self: center;
  }
  .elementor-1566 .elementor-element.elementor-element-302bf42 {
    --display: flex;
    --justify-content: center;
    --align-items: flex-end;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --background-transition: 0.3s;
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-3cc2da7.elementor-social-icon {
    background-color: var(--e-global-color-primary);
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-3cc2da7.elementor-social-icon
    i {
    color: var(--e-global-color-dc9267a);
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-3cc2da7.elementor-social-icon
    svg {
    fill: var(--e-global-color-dc9267a);
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-3cc32f3.elementor-social-icon {
    background-color: var(--e-global-color-primary);
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-3cc32f3.elementor-social-icon
    i {
    color: var(--e-global-color-dc9267a);
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-3cc32f3.elementor-social-icon
    svg {
    fill: var(--e-global-color-dc9267a);
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-e873be3.elementor-social-icon {
    background-color: var(--e-global-color-primary);
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-e873be3.elementor-social-icon
    i {
    color: var(--e-global-color-dc9267a);
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-e873be3.elementor-social-icon
    svg {
    fill: var(--e-global-color-dc9267a);
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-48301b7.elementor-social-icon {
    background-color: var(--e-global-color-primary);
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-48301b7.elementor-social-icon
    i {
    color: var(--e-global-color-dc9267a);
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-repeater-item-48301b7.elementor-social-icon
    svg {
    fill: var(--e-global-color-dc9267a);
  }
  .elementor-1566 .elementor-element.elementor-element-70e52ea {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 15px;
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-widget-container {
    text-align: left;
  }
  .elementor-1566
    .elementor-element.elementor-element-70e52ea
    .elementor-social-icon {
    --icon-padding: 0.4em;
  }
  .elementor-1566 .elementor-element.elementor-element-550f584 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
  }
  .elementor-1566
    .elementor-element.elementor-element-550f584:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-1566
    .elementor-element.elementor-element-550f584
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-35dff28);
  }
  .elementor-1566 .elementor-element.elementor-element-550f584,
  .elementor-1566 .elementor-element.elementor-element-550f584::before {
    --border-transition: 0.3s;
  }
  .elementor-1566
    .elementor-element.elementor-element-2035552
    .rkit-image-container {
    text-align: left;
  }
  .elementor-1566 .elementor-element.elementor-element-2035552 {
    width: var(--container-widget-width, 20%);
    max-width: 20%;
    --container-widget-width: 20%;
    --container-widget-flex-grow: 0;
  }
  .elementor-1566
    .elementor-element.elementor-element-2035552.elementor-element {
    --align-self: center;
  }
  .elementor-1566 .elementor-element.elementor-element-02ccc33 .rkit-navmenu {
    justify-content: center;
  }
  .elementor-1566 .elementor-element.elementor-element-02ccc33 .rkit-menu {
    justify-content: center;
    padding-inline: 25px;
    padding-block: 25px;
  }
  .elementor-1566 .elementor-element.elementor-element-02ccc33 .rkit-submenu {
    text-align: center;
    padding-inline: 35px;
    padding-block: 10px;
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-submenu-icon {
    padding-left: 10px;
    color: var(--e-global-color-dc9267a);
    font-size: 16px;
  }
  .elementor-1566 .elementor-element.elementor-element-02ccc33 .rkit-menu-text {
    color: var(--e-global-color-dc9267a);
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-menu-text:hover {
    color: var(--e-global-color-secondary);
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .pointer-underline::after,
  .pointer-overline::after,
  .pointer-doubleline::after,
  .pointer-framed::after {
    border-color: var(--e-global-color-secondary);
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-menu:has(.pointer-bg):hover {
    background-color: var(--e-global-color-secondary);
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-submenu-text {
    color: var(--e-global-color-primary);
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-submenu-item {
    background-color: var(--e-global-color-dc9267a);
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-submenu-text:hover {
    color: #ffffff;
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-submenu:hover
    > .rkit-item-submenu
    > .rkit-submenu-text {
    color: #ffffff;
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-submenu:hover
    > .rkit-item-submenu
    > .rkit-submenu-icon {
    color: #ffffff;
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-item-submenu:hover
    .rkit-submenu-text {
    color: #ffffff;
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-item-submenu:hover
    .rkit-submenu-icon {
    color: #ffffff;
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-submenu-item:hover {
    background-color: var(--e-global-color-secondary);
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33
    .rkit-btn-hamburger {
    padding: 10px 10px 10px 10px;
    background-color: #ffb901;
  }
  .elementor-1566 .elementor-element.elementor-element-02ccc33 {
    width: var(--container-widget-width, 64%);
    max-width: 64%;
    --container-widget-width: 64%;
    --container-widget-flex-grow: 0;
  }
  .elementor-1566
    .elementor-element.elementor-element-02ccc33.elementor-element {
    --align-self: center;
  }
  .elementor-1566 .elementor-element.elementor-element-f32b534 {
    width: var(--container-widget-width, 16%);
    max-width: 16%;
    --container-widget-width: 16%;
    --container-widget-flex-grow: 0;
  }
  .elementor-1566
    .elementor-element.elementor-element-f32b534.elementor-element {
    --align-self: center;
  }
  @media (max-width: 1024px) {
    .elementor-1566 .elementor-element.elementor-element-700391b {
      --flex-direction: column;
      --container-widget-width: 100%;
      --container-widget-height: initial;
      --container-widget-flex-grow: 0;
      --container-widget-align-self: initial;
    }
    .elementor-1566 .elementor-element.elementor-element-58414ba {
      --flex-direction: row;
      --container-widget-width: initial;
      --container-widget-height: 100%;
      --container-widget-flex-grow: 1;
      --container-widget-align-self: stretch;
      --gap: 0px 0px;
    }
    .elementor-1566
      .elementor-element.elementor-element-7b27b26
      .elementor-icon-box-title,
    .elementor-1566
      .elementor-element.elementor-element-7b27b26
      .elementor-icon-box-title
      a {
      font-size: var(--e-global-typography-accent-font-size);
      line-height: var(--e-global-typography-accent-line-height);
    }
    .elementor-1566
      .elementor-element.elementor-element-7b27b26
      .elementor-icon-box-description {
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-1566
      .elementor-element.elementor-element-7be88d3
      .elementor-icon-box-title,
    .elementor-1566
      .elementor-element.elementor-element-7be88d3
      .elementor-icon-box-title
      a {
      font-size: var(--e-global-typography-accent-font-size);
      line-height: var(--e-global-typography-accent-line-height);
    }
    .elementor-1566
      .elementor-element.elementor-element-7be88d3
      .elementor-icon-box-description {
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-1566
      .elementor-element.elementor-element-ef77bc6
      .elementor-icon-box-title,
    .elementor-1566
      .elementor-element.elementor-element-ef77bc6
      .elementor-icon-box-title
      a {
      font-size: var(--e-global-typography-accent-font-size);
      line-height: var(--e-global-typography-accent-line-height);
    }
    .elementor-1566
      .elementor-element.elementor-element-ef77bc6
      .elementor-icon-box-description {
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-1566 .elementor-element.elementor-element-302bf42 {
      --align-items: center;
      --container-widget-width: calc(
        (1 - var(--container-widget-flex-grow)) * 100%
      );
    }
    .elementor-1566 .elementor-element.elementor-element-550f584 {
      --justify-content: center;
    }
    .elementor-1566 .elementor-element.elementor-element-2035552 {
      width: var(--container-widget-width, 33%);
      max-width: 33%;
      --container-widget-width: 33%;
      --container-widget-flex-grow: 0;
    }
    .elementor-1566 .elementor-element.elementor-element-02ccc33 .rkit-navmenu {
      justify-content: center;
    }
    .elementor-1566 .elementor-element.elementor-element-02ccc33 .rkit-menu {
      justify-content: center;
      padding-block: 15px;
    }
    .elementor-1566 .elementor-element.elementor-element-02ccc33 .rkit-submenu {
      text-align: center;
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-responsive-menu {
      margin-top: 25px;
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-responsive-menu
      .rkit-menu:hover {
      background-color: var(--e-global-color-primary);
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-submenu-text {
      color: var(--e-global-color-primary);
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-submenu-item {
      background-color: var(--e-global-color-dc9267a);
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-submenu-text:hover {
      color: var(--e-global-color-primary);
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-submenu:hover
      > .rkit-item-submenu
      > .rkit-submenu-text {
      color: var(--e-global-color-primary);
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-submenu:hover
      > .rkit-item-submenu
      > .rkit-submenu-icon {
      color: var(--e-global-color-primary);
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-item-submenu:hover
      .rkit-submenu-text {
      color: var(--e-global-color-primary);
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-item-submenu:hover
      .rkit-submenu-icon {
      color: var(--e-global-color-primary);
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-submenu-item:hover {
      background-color: var(--e-global-color-secondary);
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-hamburger-tablet {
      justify-content: center;
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-hamburger-mobile {
      justify-content: center;
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-btn-hamburger {
      font-size: 20px;
      background-color: var(--e-global-color-secondary);
      color: var(--e-global-color-primary);
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-btn-hamburger:hover {
      background-color: var(--e-global-color-primary);
      color: var(--e-global-color-secondary);
    }
    .elementor-1566 .elementor-element.elementor-element-02ccc33 {
      --container-widget-width: 33%;
      --container-widget-flex-grow: 0;
      width: var(--container-widget-width, 33%);
      max-width: 33%;
    }
    .elementor-1566 .elementor-element.elementor-element-f32b534 {
      width: var(--container-widget-width, 33%);
      max-width: 33%;
      --container-widget-width: 33%;
      --container-widget-flex-grow: 0;
    }
  }
  @media (max-width: 767px) {
    .elementor-1566 .elementor-element.elementor-element-700391b {
      --gap: 0px 0px;
    }
    .elementor-1566 .elementor-element.elementor-element-58414ba {
      --align-items: center;
      --container-widget-width: calc(
        (1 - var(--container-widget-flex-grow)) * 100%
      );
      --gap: 0px 0px;
    }
    .elementor-1566 .elementor-element.elementor-element-58414ba.e-con {
      --align-self: center;
    }
    .elementor-1566
      .elementor-element.elementor-element-7b27b26
      .elementor-icon-box-wrapper {
      text-align: center;
    }
    .elementor-1566
      .elementor-element.elementor-element-7b27b26
      .elementor-icon-box-title,
    .elementor-1566
      .elementor-element.elementor-element-7b27b26
      .elementor-icon-box-title
      a {
      font-size: var(--e-global-typography-accent-font-size);
      line-height: var(--e-global-typography-accent-line-height);
    }
    .elementor-1566
      .elementor-element.elementor-element-7b27b26
      .elementor-icon-box-description {
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-1566 .elementor-element.elementor-element-7b27b26 {
      width: 100%;
      max-width: 100%;
    }
    .elementor-1566
      .elementor-element.elementor-element-7b27b26.elementor-element {
      --align-self: flex-start;
    }
    .elementor-1566
      .elementor-element.elementor-element-7be88d3
      .elementor-icon-box-wrapper {
      text-align: center;
    }
    .elementor-1566
      .elementor-element.elementor-element-7be88d3
      .elementor-icon-box-title,
    .elementor-1566
      .elementor-element.elementor-element-7be88d3
      .elementor-icon-box-title
      a {
      font-size: var(--e-global-typography-accent-font-size);
      line-height: var(--e-global-typography-accent-line-height);
    }
    .elementor-1566
      .elementor-element.elementor-element-7be88d3
      .elementor-icon-box-description {
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-1566 .elementor-element.elementor-element-7be88d3 {
      width: 100%;
      max-width: 100%;
    }
    .elementor-1566
      .elementor-element.elementor-element-7be88d3.elementor-element {
      --align-self: flex-start;
    }
    .elementor-1566
      .elementor-element.elementor-element-ef77bc6
      .elementor-icon-box-wrapper {
      text-align: center;
    }
    .elementor-1566
      .elementor-element.elementor-element-ef77bc6
      .elementor-icon-box-title,
    .elementor-1566
      .elementor-element.elementor-element-ef77bc6
      .elementor-icon-box-title
      a {
      font-size: var(--e-global-typography-accent-font-size);
      line-height: var(--e-global-typography-accent-line-height);
    }
    .elementor-1566
      .elementor-element.elementor-element-ef77bc6
      .elementor-icon-box-description {
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-1566 .elementor-element.elementor-element-ef77bc6 {
      width: 100%;
      max-width: 100%;
    }
    .elementor-1566
      .elementor-element.elementor-element-ef77bc6.elementor-element {
      --align-self: flex-start;
    }
    .elementor-1566 .elementor-element.elementor-element-550f584 {
      --flex-wrap: wrap;
    }
    .elementor-1566
      .elementor-element.elementor-element-2035552
      .rkit-image-container {
      text-align: center;
    }
    .elementor-1566 .elementor-element.elementor-element-2035552 {
      width: var(--container-widget-width, 100%);
      max-width: 100%;
      --container-widget-width: 100%;
      --container-widget-flex-grow: 0;
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33
      .rkit-responsive-menu {
      margin-top: 15px;
    }
    .elementor-1566 .elementor-element.elementor-element-02ccc33 .rkit-menu {
      padding-block: 10px;
    }
    .elementor-1566 .elementor-element.elementor-element-02ccc33 {
      width: var(--container-widget-width, 23%);
      max-width: 23%;
      --container-widget-width: 23%;
      --container-widget-flex-grow: 0;
    }
    .elementor-1566
      .elementor-element.elementor-element-02ccc33.elementor-element {
      --order: 99999 /* order end hack */;
    }
    .elementor-1566 .elementor-element.elementor-element-f32b534 {
      width: var(--container-widget-width, 67%);
      max-width: 67%;
      --container-widget-width: 67%;
      --container-widget-flex-grow: 0;
    }
  }
  @media (min-width: 768px) {
    .elementor-1566 .elementor-element.elementor-element-58414ba {
      --width: 80%;
    }
    .elementor-1566 .elementor-element.elementor-element-302bf42 {
      --width: 20%;
    }
  }
  @media (max-width: 1024px) and (min-width: 768px) {
    .elementor-1566 .elementor-element.elementor-element-58414ba {
      --width: 100%;
    }
    .elementor-1566 .elementor-element.elementor-element-302bf42 {
      --width: 100%;
    }
  }
}

.elementor-column .elementor-spacer-inner {
  height: var(--spacer-size);
}
.e-con {
  --container-widget-width: 100%;
}
.e-con-inner > .elementor-widget-spacer,
.e-con > .elementor-widget-spacer {
  width: var(--container-widget-width, var(--spacer-size));
  --align-self: var(--container-widget-align-self, initial);
  --flex-shrink: 0;
}
.e-con-inner > .elementor-widget-spacer > .elementor-widget-container,
.e-con > .elementor-widget-spacer > .elementor-widget-container {
  height: 100%;
  width: 100%;
}
.e-con-inner
  > .elementor-widget-spacer
  > .elementor-widget-container
  > .elementor-spacer,
.e-con
  > .elementor-widget-spacer
  > .elementor-widget-container
  > .elementor-spacer {
  height: 100%;
}
.e-con-inner
  > .elementor-widget-spacer
  > .elementor-widget-container
  > .elementor-spacer
  > .elementor-spacer-inner,
.e-con
  > .elementor-widget-spacer
  > .elementor-widget-container
  > .elementor-spacer
  > .elementor-spacer-inner {
  height: var(--container-widget-height, var(--spacer-size));
}
.e-con-inner > .elementor-widget-spacer.elementor-widget-empty,
.e-con > .elementor-widget-spacer.elementor-widget-empty {
  position: relative;
  min-height: 22px;
  min-width: 22px;
}
.e-con-inner
  > .elementor-widget-spacer.elementor-widget-empty
  .elementor-widget-empty-icon,
.e-con
  > .elementor-widget-spacer.elementor-widget-empty
  .elementor-widget-empty-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  width: 22px;
  height: 22px;
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: #69727d;
  color: #fff;
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap {
  color: #69727d;
  border: 3px solid;
  background-color: transparent;
}
.elementor-widget-text-editor:not(.elementor-drop-cap-view-default)
  .elementor-drop-cap {
  margin-top: 8px;
}
.elementor-widget-text-editor:not(.elementor-drop-cap-view-default)
  .elementor-drop-cap-letter {
  width: 1em;
  height: 1em;
}
.elementor-widget-text-editor .elementor-drop-cap {
  float: left;
  text-align: center;
  line-height: 1;
  font-size: 50px;
}
.elementor-widget-text-editor .elementor-drop-cap-letter {
  display: inline-block;
}
.elementor-widget-social-icons.elementor-grid-0 .elementor-widget-container,
.elementor-widget-social-icons.elementor-grid-mobile-0
  .elementor-widget-container,
.elementor-widget-social-icons.elementor-grid-tablet-0
  .elementor-widget-container {
  line-height: 1;
  font-size: 0;
}
.elementor-widget-social-icons:not(.elementor-grid-0):not(
    .elementor-grid-tablet-0
  ):not(.elementor-grid-mobile-0)
  .elementor-grid {
  display: inline-grid;
}
.elementor-widget-social-icons .elementor-grid {
  grid-column-gap: var(--grid-column-gap, 5px);
  grid-row-gap: var(--grid-row-gap, 5px);
  grid-template-columns: var(--grid-template-columns);
  justify-content: var(--justify-content, center);
  justify-items: var(--justify-content, center);
}
.elementor-icon.elementor-social-icon {
  font-size: var(--icon-size, 25px);
  line-height: var(--icon-size, 25px);
  width: calc(var(--icon-size, 25px) + 2 * var(--icon-padding, 0.5em));
  height: calc(var(--icon-size, 25px) + 2 * var(--icon-padding, 0.5em));
}
.elementor-social-icon {
  --e-social-icon-icon-color: #fff;
  display: inline-flex;
  background-color: #69727d;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.elementor-social-icon i {
  color: var(--e-social-icon-icon-color);
}
.elementor-social-icon svg {
  fill: var(--e-social-icon-icon-color);
}
.elementor-social-icon:last-child {
  margin: 0;
}
.elementor-social-icon:hover {
  opacity: 0.9;
  color: #fff;
}
.elementor-social-icon-android {
  background-color: #a4c639;
}
.elementor-social-icon-apple {
  background-color: #999;
}
.elementor-social-icon-behance {
  background-color: #1769ff;
}
.elementor-social-icon-bitbucket {
  background-color: #205081;
}
.elementor-social-icon-codepen {
  background-color: #000;
}
.elementor-social-icon-delicious {
  background-color: #39f;
}
.elementor-social-icon-deviantart {
  background-color: #05cc47;
}
.elementor-social-icon-digg {
  background-color: #005be2;
}
.elementor-social-icon-dribbble {
  background-color: #ea4c89;
}
.elementor-social-icon-elementor {
  background-color: #d30c5c;
}
.elementor-social-icon-envelope {
  background-color: #ea4335;
}
.elementor-social-icon-facebook,
.elementor-social-icon-facebook-f {
  background-color: #3b5998;
}
.elementor-social-icon-flickr {
  background-color: #0063dc;
}
.elementor-social-icon-foursquare {
  background-color: #2d5be3;
}
.elementor-social-icon-free-code-camp,
.elementor-social-icon-freecodecamp {
  background-color: #006400;
}
.elementor-social-icon-github {
  background-color: #333;
}
.elementor-social-icon-gitlab {
  background-color: #e24329;
}
.elementor-social-icon-globe {
  background-color: #69727d;
}
.elementor-social-icon-google-plus,
.elementor-social-icon-google-plus-g {
  background-color: #dd4b39;
}
.elementor-social-icon-houzz {
  background-color: #7ac142;
}
.elementor-social-icon-instagram {
  background-color: #262626;
}
.elementor-social-icon-jsfiddle {
  background-color: #487aa2;
}
.elementor-social-icon-link {
  background-color: #818a91;
}
.elementor-social-icon-linkedin,
.elementor-social-icon-linkedin-in {
  background-color: #0077b5;
}
.elementor-social-icon-medium {
  background-color: #00ab6b;
}
.elementor-social-icon-meetup {
  background-color: #ec1c40;
}
.elementor-social-icon-mixcloud {
  background-color: #273a4b;
}
.elementor-social-icon-odnoklassniki {
  background-color: #f4731c;
}
.elementor-social-icon-pinterest {
  background-color: #bd081c;
}
.elementor-social-icon-product-hunt {
  background-color: #da552f;
}
.elementor-social-icon-reddit {
  background-color: #ff4500;
}
.elementor-social-icon-rss {
  background-color: #f26522;
}
.elementor-social-icon-shopping-cart {
  background-color: #4caf50;
}
.elementor-social-icon-skype {
  background-color: #00aff0;
}
.elementor-social-icon-slideshare {
  background-color: #0077b5;
}
.elementor-social-icon-snapchat {
  background-color: #fffc00;
}
.elementor-social-icon-soundcloud {
  background-color: #f80;
}
.elementor-social-icon-spotify {
  background-color: #2ebd59;
}
.elementor-social-icon-stack-overflow {
  background-color: #fe7a15;
}
.elementor-social-icon-steam {
  background-color: #00adee;
}
.elementor-social-icon-stumbleupon {
  background-color: #eb4924;
}
.elementor-social-icon-telegram {
  background-color: #2ca5e0;
}
.elementor-social-icon-thumb-tack {
  background-color: #1aa1d8;
}
.elementor-social-icon-tripadvisor {
  background-color: #589442;
}
.elementor-social-icon-tumblr {
  background-color: #35465c;
}
.elementor-social-icon-twitch {
  background-color: #6441a5;
}
.elementor-social-icon-twitter {
  background-color: #1da1f2;
}
.elementor-social-icon-viber {
  background-color: #665cac;
}
.elementor-social-icon-vimeo {
  background-color: #1ab7ea;
}
.elementor-social-icon-vk {
  background-color: #45668e;
}
.elementor-social-icon-weibo {
  background-color: #dd2430;
}
.elementor-social-icon-weixin {
  background-color: #31a918;
}
.elementor-social-icon-whatsapp {
  background-color: #25d366;
}
.elementor-social-icon-wordpress {
  background-color: #21759b;
}
.elementor-social-icon-xing {
  background-color: #026466;
}
.elementor-social-icon-yelp {
  background-color: #af0606;
}
.elementor-social-icon-youtube {
  background-color: #cd201f;
}
.elementor-social-icon-500px {
  background-color: #0099e5;
}
.elementor-shape-rounded .elementor-icon.elementor-social-icon {
  border-radius: 10%;
}
.elementor-shape-circle .elementor-icon.elementor-social-icon {
  border-radius: 50%;
}
